.jumbotron {

    background-color: #dfe0e1;
    text-align: center;
    border-radius: 0rem;
}

.titulo {

    background-color: #003dfd;
    text-align: center;
    font-size-adjust: 100;

    padding: 1rem 1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.table {

    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.colum2 {

    width: 10px;
}

.bar-title {

    background-color: #6fb3ff;
}

.chekbox {

    text-align: center;
}

.tarefa {

    color: #44d444;
    font-weight: bold;
}

.form-control {

    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.btn-block {

    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.progress {

    background-color: #a0a297;
}

.progress-bar {

    background-color: #2aabd2;
}

.sr-only {

    background-color: #1bd200;
}

