.jumbotron {

    background-color: rgba(223, 224, 225, 0.89);
    text-align: center;
    border-radius: 0rem;
}

.titulo {

    background-color: #003dfd;
    /*background-image: linear-gradient(to bottom, #71fff0, #0002a7);*/
    text-align: center;
    font-size: 43px;

    padding: 1rem 1rem;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.table {

    text-align: left;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.colum2 {

    width: 10px;
}

.bar-title {

    background-color: #6fb3ff;
}

.chekbox {

    text-align: center;
}

.concluida {

    color: green;
    font-weight: bold;
}

.form-control {

    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.btn-block {

    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.delete {

    color: red;
    font-weight: bold;
}

.progress {

    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.creditos {

    text-align: center;

    padding: 15px;
    margin-bottom: 0px;
    margin-top: -32px;
    background-color: white;
}

#interface {

    width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#palnoDeFundo {

    background-image: url(../css/wall-233407_960_720.jpg);
}