<!DOCTYPE html>
<html lang="pt" ng-app="agendaDeTarefas">

    <head>
        <meta charset="UTF-8">
        <title>Agenda de tarefas</title>

        <script src="js/angular.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/funcoes.js"></script>

        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">

    </head>

    <body ng-controller="agendaDetarefasCtrl">

        <div>
            <h1 class="titulo">{{app}}</hr></h1>
        </div>

        <div class="jumbotron">

            {{tarefas}}

            <table class="table">

                <tr class="bar-title">
                    <th>Tarefa</th>
                    <th>Data/Hora</th>
                    <th class="colum2">Concluída</th>
                    <th class="colum2">Deletar</th>
                </tr>

                <tr ng-class="{concluida : tarefa.concluida, delete : tarefa.deletar}" ng-repeat="tarefa in tarefas">

                    <td>{{tarefa.tarefa}}</td>
                    <td>{{tarefa.data}}</td>
                    <td class="chekbox"><input type="checkbox" ng-model="tarefa.concluida"></td>
                    <td class="chekbox"><input type="checkbox" ng-model="tarefa.deletar"></td>

                </tr>

            </table>

            <form name="tarefaForm">

                <input class="form-control" type="text" ng-model="tarefa.tarefa" placeholder="Tarefa...">
                <input class="form-control" type="text" ng-model="tarefa.data" placeholder="DD/MM/YYYY-HH:MM">

                <button class="btn btn-primary btn-block" ng-click="adicionaTarefa(tarefa)">Adicionar Tarefa</button>
                <button class="btn btn-danger btn-block" ng-click="removerTarefa(tarefas)">Remover Tarefa</button>

            </form>

            <br>
            <br>

            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="70"
                     aria-valuemin="0" aria-valuemax="100" style={{"width:"+calculaPorcentagem(tarefas)+"%"}}>
                    {{calculaPorcentagem(tarefas) + "%"}}
                </div>
            </div>

        </div>

    </body>
</html>